In [129]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [130]:
df = pd.read_excel('UserData.xlsx')
df

,UserID,Kid,Youth,Adult,Elderly,Gender,EnjoysOutdoors,Haskids,Attraction
0,1,0,1,0,0,1,0,0,Concerts
1,2,0,0,1,0,0,0,0,Museums
2,3,0,0,1,0,1,1,0,Trails
3,4,0,0,0,1,0,1,1,National Parks
4,5,1,0,0,0,0,1,1,Parks

In [131]:
UserData = {'UserID': [6]}
UserData = pd.DataFrame(data=UserData)
Age1 = int( input("How old are you? ") )
if Age1 <= 14:
    Kid = [1]
    UserData['Kid'] = Kid
else:
    Kid = [1]
    UserData['Kid'] = Kid

if Age1 <= 25 and Age1 > 14:
    Youth = [1]
    UserData['Youth'] = Youth

else:
    Youth = [0]
    UserData['Youth'] = Youth

    
if Age1 <= 60 and Age1 > 25:
    Adult = [1]
    UserData['Adult'] = Adult

else:
    Adult = [0]
    UserData['Adult'] = Adult


if Age1 >= 60:
    Elderly = [1]
    UserData['Elderly'] = Elderly

else:
    Elderly = [0]
    UserData['Elderly'] = Elderly


Gender1 = input("Gender: M or F? ")
if Gender1 == 'F':
    Gender = [1]
    UserData['Gender'] = Gender
else: 
    Gender = [0]
    UserData['Gender'] = Gender

 
Outdoors = input("Do you like outdoors? 0 or 1 ")
if Outdoors == '1':
    Outdoors = [1]
    UserData['EnjoysOutdoors'] = Outdoors
else:
    Outdoors = [0]
    UserData['EnjoysOutdoors'] = Outdoors

Kids1 = input("Do you have kids? 0 or 1 ")
if Kids1 == '1':
    Kids1 = [1]
    UserData['HasKids'] = Kids1
else:
    Kids1 = [0]
    UserData['HasKids'] = Kids1

print(UserData)

How old are you? 34
Gender: M or F? F
Do you like outdoors? 0 or 1 1
Do you have kids? 0 or 1 1
   UserID  Kid  Youth  Adult  Elderly  Gender  EnjoysOutdoors  HasKids
0       6    1      0      1        0       1               1        1

In [128]:
hi = df.corrwith(UserData)
hi
corrrelation = pd.DataFrame(df,columns=['Correlation'])
corrrelation.head()

   Correlation
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [114]:
print(UserData)

   UserID  Kid  Youth  Adult  Elderly  Gender  EnjoysOutdoors  HasKids
0       6    1      1      0        0       0               1        0